@import url('https://fonts.googleapis.com/css?family=K2D');

/* GERAL */

.mt-3 {
    margin-top: 3rem!important;
}

.mb-3 {
    margin-bottom: 3rem!important;
}

.link-padrao {
    /* text-decoration: none; */
    color: inherit;
}

body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'K2D', sans-serif;
    margin: 0;
    left: 0;
    right:10;
    
}


/* PONTUACAO */

.pontuacao {
    position: fixed;
    top: 0;
    right: -15px;
}

.pontuacao section {
    background-color: #fff;
    margin-top: 15px;
    border-radius: 15px;
    font-size: 2rem;
    border: 2px solid #c4b612;
}

.pontuacao span {
    padding-left: 25px;
    padding-right: 50px;
}

.pontuacao span.label {
    background-color: #c4b612;
    border-radius: 15px 0 0 15px;
    padding: 2px 15px;
}

.cronometro {
    padding: 0 30px;
    width: 150px;
}

.cronometro span {
    padding: 0;
}


/* FORMULARIO */

form {
    text-align: center;
    margin-top: 25px;
}

form select {
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

form input {
    height: 35px;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
}


/* MESA */

.mesa {
    border: 1px solid #795548;
    border-radius: 50px 50px 400px 400px;
    width: 95%;
    margin: 50px auto;
    box-shadow: 3px 3px 3px 3px #fff;
    position: relative;
    text-align: center;
}

.mesa img {
    max-width: 200%;
}

.mesa h1 {
    color: #f7e522;
}


/* CARTAS */

.divCarta {
    width: 5rem;
    height: 6.9rem;
    border: 1px dotted #000;
    display: inline-block;
    border-radius: 5px;
}

.divCarta img {
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000;
    max-width: 100%;
}

.disable {
    pointer-events: none;
}

.animacao-carta {
    animation-name: giro;
    animation-duration: 1s;
}

@keyframes giro {
    0% {
        transform: rotateY(.5turn);
    }
}


/* FOOTER */

footer {
    background-color: #000000b0;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
